body {
  font-family:Open Sans, sans-serif;
  text-align:center;
}

div {
  height:50px;
}

.center{
	text-align: left;
	width: 600px;
	display:inline-block;
}

span {
  margin:5px;
  padding: 6px;
  display:inline-block;
  border-radius:3px;
  text-align: center;
} 
   
span.smallnum {
  background:#7E2A6D;
  color:white;
}

span.bignum {
  background:#2F608E;
  color:white;
}

span.target {
  background:#C78257;
  color:#fff;  
  font-size:1.5em;
}

.timer {
  color:#C3514B;
  font-size:28px;
}

input[type=text]{
	width:800px;
	margin:8px 0;
	display: inline-block;
}