html {
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 90%;
	margin: auto;
	padding-bottom: 1em;
	padding-top: 1em;
}

.h1 {
	padding: 100px;
}

.numbers-bar {
	display: flex;
	flex-direction: row;
}

.number {
	width: auto;
	padding: 20px;
	border: 2px solid black;
	margin: 10px;
}

.input {
	padding: 10px;
	border: 0px;
	width:500px;
}